/**
 * Fonts
*/

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Reg.otf") format("otf"),
    url("../fonts/FontsFree-Net-Bely-Display-W00-Regular.ttf") format("ttf"),
    url("../fonts/SCHUVD__.TTF") format("ttf"),
    url("../fonts/SchulVokalDotless.ttf") format("ttf"),
    url("../fonts/DINPro-Regular.woff") format("woff"),
    url("../fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}
