body {
  background-image: url(/src/images/content/v978-background-02-kpzgw7o8.jpeg);
}

.todo-container {
  max-width: 240px;
  margin: 0 auto;

  .task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .task-item {
    min-width: 180px;
    min-height: 25px;
    position: relative;
  }

  .btn {
    content: "";
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    border: none;
  }

  .button-edit {
    // content: "";
    background: url(/src/images/content/create-outline.svg);
    // background-size: cover;
    // background-position: center;
    // width: 18px;
    // height: 18px;
    // position: absolute;
    right: 64px;
    // cursor: pointer;
  }
  .button-delete {
    // content: "";
    background: url(/src/images/content/trash-outline.svg);
    // background-size: cover;
    // background-position: center;
    // width: 18px;
    // height: 18px;
    // position: absolute;
    right: 24px;
    // cursor: pointer;
  }

  .button-submit {
    // content: "";
    background: url(/src/images/content/checkmark-done-circle-outline.svg);
    // background-size: cover;
    // background-position: center;
    // width: 18px;
    // height: 18px;
    // position: absolute;
    right: 44px;
    // cursor: pointer;
  }
}
